img{width: 20%; height: 75%;}
body{/*background-color: #9c8cb8;*/ text-align: center}
ul{display: inline-block; text-align: left;}
ol{display: inline-block; text-align: left;}
h1{color: #250d36}
footer{text-decoration: none;}